.liNav { font-family: 'monospace';
    font-size: 20px;
    display: block;
    color: white;
    padding: 20px ;
    float: left;
    text-decoration: none;
    

}
body{
    background:radial-gradient(#333,#000);
}
h1{
    font-family: 'Courgette', cursive;
    font-size: 30px;
    font-weight: bold;
    margin: 20px;
    text-align: center;
    color: mintcream;
    
}
    

h3{
    font-family: 'Courgette', cursive;
    /* font-family: 'Playfair Display', serif; */
    font-size: 20px;
    font-weight: lighter;
    margin: 20px;
    text-align: center;
    color: white;

}
footer{
    font-family: 'monospace';
    font-size: 20px;
    padding: 20px;
    color: white;
    display: block;
    float: left;
    text-decoration: none

}
ol li h3 {
    list-style-type: decimal;
  }